@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #121212;
  --secondary-color: rgb(252, 248, 245);
}

body{
  background-color: var(--secondary-color);

}

.custom-underline{
  position: relative;
  display: inline-block;
}

.custom-underline:before{
  position: absolute;
  content: '';
  width: 0%;
  left: 0;
  height: 2px;
  border-bottom: 2px solid var(--primary-color);
  bottom: -5px;
  transition: width .3s;
}

.custom-underline:hover:before{
  width: 45%;
}

.current-page{
  position: relative;
  display: inline-block;
}

.current-page:before{
  position: absolute;
  content: '';
  width: 45%;
  left: 0;
  height: 2px;
  border-bottom: 2px solid var(--primary-color);
  bottom: -5px;
  transition: width .3s;
}

.custom-slide svg{
  position: relative;
}

.custom-slide:hover svg{
  transform: translate(10px);
  transition: transform .3s;
}

.ticket-img{
  position: relative;
}

.ticket-img:before{
  background-image: url("./images/tag.svg");
}

